# secretos - NUNCA subir
.env

# Python
__pycache__/
*.pyc
*.db

# Node / Expo
node_modules/
.expo/
dist/
web-build/

# llaves secretas de Firebase (NUNCA subir)
*firebase-adminsdk*.json
service-account*.json
